body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e1bee7;
}

main {
    flex: 1 0 auto;
}

#links {
    font-size: 14px ;
}

.article-text {
    font-size: 20px;
}

.header-area {
    min-height: 700px;
    height: auto;
}

.footer-img {
    background: linear-gradient( #e1bee7, #e1bee7 );
    height: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

footer.page-footer {
    margin-top: 0px;
    padding: 0px;
}


#my-img {
    background-color: #e1bee7;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.chip {
    margin: 5px;
}

#about .section {
    padding-bottom: 0px!important;
}

.page-footer{
    color: #ba68c8;
}

.space {
    margin: 0 auto;
    width: 250px;
    height: 15px;

    background-position: 0px;
}

.lightbulb {
    margin: 0 auto;
    width: 160px;
    height: 15px;
    background-position: 0px;
}

.pen {
    margin: 20px auto;
    width: 325px;
    height: 15px;
    background-position: 325px;
}

.tabs {
    overflow-x: hidden;
}

.tabs .tab a {
    color: #4a148c;
}

.tabs .tab a:hover {
    color: #9c27b0;
}

.tabs .indicator {
    background-color: #4a148c;
}

.browser {
    border: 1px solid #b0bec5;
    border-radius: 5px;
    max-height: 400px;
    overflow: hidden;
}

.browser img {
    margin-bottom: -7px;
}

.browser-top {
    height: 40px;
    border-bottom: 1px solid #b0bec5;
    padding: 5px;
}

.browser-circle {
    border: 1px solid #90a4ae;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-right: 2px;
    float: left;
}

.browser-address {
    border: 1px solid #b0bec5;
    color: #90a4ae;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    width: 80%;
    float: right;
    overflow: hidden;
}

.project-details h2 {
    font-family:sans-serif;
    font-weight: bold;
}

.project-details .chip {
    border-radius: 0px;
    margin: 0px;
}

.project-row {
    padding-top: 50px;
    padding-bottom: 5px;
}

.btn {
    margin-bottom: 4px;
}

.btn-floating {
    position: fixed;
}

#btn-sidemenu {
    border-radius: 0px;
    height: 50px;
    width: 100px;
}

.card-contact {
    height: 500px;
}

input:not([type]).invalid+label:after, input:not([type]):focus.invalid+label:after, input[type=text].invalid+label:after, input[type=text]:focus.invalid+label:after, input[type=password].invalid+label:after, input[type=password]:focus.invalid+label:after, input[type=email].invalid+label:after, input[type=email]:focus.invalid+label:after, input[type=url].invalid+label:after, input[type=url]:focus.invalid+label:after, input[type=time].invalid+label:after, input[type=time]:focus.invalid+label:after, input[type=date].invalid+label:after, input[type=date]:focus.invalid+label:after, input[type=datetime-local].invalid+label:after, input[type=datetime-local]:focus.invalid+label:after, input[type=tel].invalid+label:after, input[type=tel]:focus.invalid+label:after, input[type=number].invalid+label:after, input[type=number]:focus.invalid+label:after, input[type=search].invalid+label:after, input[type=search]:focus.invalid+label:after, textarea.materialize-textarea.invalid+label:after, textarea.materialize-textarea:focus.invalid+label:after {
    width: 200px;
}

input:not([type]).valid+label:after, input:not([type]):focus.valid+label:after, input[type=text].valid+label:after, input[type=text]:focus.valid+label:after, input[type=password].valid+label:after, input[type=password]:focus.valid+label:after, input[type=email].valid+label:after, input[type=email]:focus.valid+label:after, input[type=url].valid+label:after, input[type=url]:focus.valid+label:after, input[type=time].valid+label:after, input[type=time]:focus.valid+label:after, input[type=date].valid+label:after, input[type=date]:focus.valid+label:after, input[type=datetime-local].valid+label:after, input[type=datetime-local]:focus.valid+label:after, input[type=tel].valid+label:after, input[type=tel]:focus.valid+label:after, input[type=number].valid+label:after, input[type=number]:focus.valid+label:after, input[type=search].valid+label:after, input[type=search]:focus.valid+label:after, textarea.materialize-textarea.valid+label:after, textarea.materialize-textarea:focus.valid+label:after {
    width: 200px;
}

.form-thanks, .form-verify, .form-subject {
    display: none;
}

/*Text Animation*/
.formatting {
    /*font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #d8d8d8;
    font-weight: 500;
}

.formatting a:hover{
    text-decoration: none;
    color: #2b2b2b;
}

.type{
    color: #ffffff;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*Devicons*/
/*.devicons {
    font-size: 70px;
}*/

.devicons-pr {
    font-size: 20px;
}

#devicons-oss {
    font-size:35px;
}

#about-text {
  font-size: 18px;
}

#devicons-btn {
  font-size: 40px;
  font-weight: 400;
}

#footer-link a {
  color: white;
  font-weight: 300;
}

#footer-link a:hover {
  color: #311b92;
}

#blog p {
  font-size: 16px;
}